extends _bootstrap-layout

block bootstrap-theme
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cyborg/bootstrap.min.css")

block styles
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:400,700|Inconsolata|Raleway:200")
    style.
        /* Highlight.js Theme Monokai Sublime */
        pre{color:#fff;background:#1a1a1a;border:1px solid rgba(255, 255, 255, 0.1)}
        .hljs{display:block;padding:.5em;background:#23241f}.hljs,.hljs-tag,.css .hljs-rules,.css .hljs-value,.css .hljs-function .hljs-preprocessor,.hljs-pragma{color:#f8f8f2}.hljs-strongemphasis,.hljs-strong,.hljs-emphasis{color:#a8a8a2}.hljs-bullet,.hljs-blockquote,.hljs-horizontal_rule,.hljs-number,.hljs-regexp,.alias .hljs-keyword,.hljs-literal,.hljs-hexcolor{color:#ae81ff}.hljs-tag .hljs-value,.hljs-code,.hljs-title,.css .hljs-class,.hljs-class .hljs-title:last-child{color:#a6e22e}.hljs-link_url{font-size:80%}.hljs-strong,.hljs-strongemphasis{font-weight:bold}.hljs-emphasis,.hljs-strongemphasis,.hljs-class .hljs-title:last-child{font-style:italic}.hljs-keyword,.hljs-function,.hljs-change,.hljs-winutils,.hljs-flow,.lisp .hljs-title,.clojure .hljs-built_in,.nginx .hljs-title,.tex .hljs-special,.hljs-header,.hljs-attribute,.hljs-symbol,.hljs-symbol .hljs-string,.hljs-tag .hljs-title,.hljs-value,.alias .hljs-keyword:first-child,.css .hljs-tag,.css .unit,.css .hljs-important{color:#f92672}.hljs-function .hljs-keyword,.hljs-class .hljs-keyword:first-child,.hljs-constant,.css .hljs-attribute{color:#66d9ef}.hljs-variable,.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}.hljs-string,.css .hljs-id,.hljs-subst,.haskell .hljs-type,.ruby .hljs-class .hljs-parent,.hljs-built_in,.django .hljs-template_tag,.django .hljs-variable,.smalltalk .hljs-class,.django .hljs-filter .hljs-argument,.smalltalk .hljs-localvars,.smalltalk .hljs-array,.hljs-attr_selector,.hljs-pseudo,.hljs-addition,.hljs-stream,.hljs-envvar,.apache .hljs-tag,.apache .hljs-cbracket,.tex .hljs-command,.hljs-prompt,.hljs-link_label,.hljs-link_url{color:#e6db74}.hljs-comment,.hljs-javadoc,.java .hljs-annotation,.python .hljs-decorator,.hljs-template_comment,.hljs-pi,.hljs-doctype,.hljs-deletion,.hljs-shebang,.apache .hljs-sqbracket,.tex .hljs-formula{color:#75715e}.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata,.xml .php,.php .xml{opacity:.5}
    style
        :stylus
            body, h4, h5
                font-family 'Roboto' sans-serif !important

            h1, h2, h3, .aglio
                font-family 'Raleway' sans-serif !important

            h1, h2, h3, h4, h5
                & a
                    display none

                &:hover a
                    display inline

            code
                color #222
                background-color #aaa
                font-family 'Inconsolata' monospace !important

            a[data-target]
                cursor pointer

            h4
                font-size 100%
                font-weight bold
                text-transform uppercase

            .back-to-top
                position fixed
                z-index 1
                bottom 0px
                right 24px
                padding 4px 8px
                color #aaa
                background-color #1a1a1a
                text-decoration none !important
                border-top 1px solid rgba(0, 0, 0, 0.1)
                border-left 1px solid rgba(0, 0, 0, 0.1)
                border-right 1px solid rgba(0, 0, 0, 0.1)
                border-top-left-radius 3px
                border-top-right-radius 3px

            .panel
                overflow hidden

            .panel-heading
                code
                    margin-left 3px
                    color white
                    background-color rgba(0,0,0,0.7)
                    white-space pre-wrap
                    white-space -moz-pre-wrap
                    white-space -pre-wrap
                    white-space -o-pre-wrap
                    word-wrap break-word
                h3
                    margin-top 10px
                    margin-bottom 10px
            
            a.list-group-item:hover
                background-color #F8F8F8
                border-left 2px solid #555
                padding-left 15px
            
            .indent
                display block
                text-indent: 16px;
            
            .list-group-item
                padding-left 16px
                .toggle
                    .open
                        display block
                    .closed
                        display none
            
            .list-group-item.collapsed
                .toggle
                    .open
                        display none
                    .closed
                        display block

            a.list-group-item:hover
                background-color #464646
                border-left-color #888888

            a.list-group-item
                font-size 13px
                white-space nowrap
                text-overflow ellipsis
                overflow hidden

                &.heading
                    font-size 15px
                    background-color #3c3c3c
                    
                    &:hover
                        background-color #464646

            .list-group-item.collapse
                display none

            .list-group-item.collapse.in
                display block

            .list-group-item
                a
                    span.closed
                        display none
                    span.open
                        display block
            
            .list-group-item
                a.collapsed
                    span.closed
                        display block
                    span.open
                        display none

            #nav
                width: inherit
                margin-top 38px
                max-width 255px
                top 0
                bottom 0
                padding-right 12px
                padding-bottom 12px
                overflow-y auto

            @media(max-width: 1199px)
                #nav
                    max-width 212px

block content
    +Content('info', false)
